<ng-container *ngIf="checkpage() == false">
<div id="showcase_navbar">
  <div class="showcase_navbar_elements" id="showcase_navbar_home">
    <a href="/">Home</a>
  </div>

  <div class="showcase_navbar_elements" id="showcase_navbar_browse">
    <nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
      class="navbar navbar-light navbar-expand-md p-md-0 navbar-container" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
      <div class="container">
        <div class="reset-padding-md w-100">
          <div id="collapsingNav">
            <ul class="navbar-nav navbar-navigation mr-auto shadow-none">
              <ng-container *ngFor="let section of (sections | async); last as isLast">
	        <div *ngIf="isLast">
                  <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
	        </div>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="showcase_navbar_elements" id="showcase_navbar_search">
    <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
  </div>
</div>
</ng-container>
