<ng-container *ngIf="showcaseNavNeeded">
<div id="showcase_navbar">
  <div class="showcase_navbar_elements" id="showcase_navbar_home">
    <ng-container *ngIf="showcaseCollection; else unscopedHomeLink">
      <a [routerLink]="['/collections/' + showcaseCollection.id + '/home']">Home</a>
    </ng-container>
    <ng-template #unscopedHomeLink>
      <a href="/">Home</a>
    </ng-template>
  </div>

  <div class="showcase_navbar_elements" id="showcase_navbar_browse">
    <!-- Browse-By Links -->
<!--    <ds-themed-comcol-page-browse-by
      [id]="data.id"
      [contentType]="data.type">
</ds-themed-comcol-page-browse-by>-->
  </div>

  <div class="showcase_navbar_elements" id="showcase_navbar_search">
    <ng-container *ngIf="showcaseCollection; else unscopedSearch">
      <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate" [scope]="showcaseCollection.id"></ds-search-form>
    </ng-container>
    <ng-template #unscopedSearch>
      <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
    </ng-template>
  </div>
</div>
</ng-container>
