#showcase_navbar {
 display: flex;
 gap: 20px;
 background-color: lightgrey;
 padding-left: 15px;
}

#showcase_navbar_home {
 margin-top: 1.5%;
}

#showcase_navbar_browse {
 margin-top: 1%;
}

#showcase_navbar_search {
 margin-right: 27%;
 margin-top: 1%;
}

/*Layout changes on screen width 700px*/
@media(max-width: 1600px) {
  #showcase_navbar_search {
    margin-right: 20%;
  }
}

/*Layout changes on mobile*/
@media(max-width: 700px) {
 #showcase_navbar_search {
   margin-top: 4%;
 }
}

@media(min-width: 700px) {
 #showcase_navbar_search {
   margin-left: auto;
 }
 #showcase_navbar {
   padding-left: 20%;
 }
}
