<footer id="showcase_footer">
    <div class="showcase_footer_elements" id="showcase_footer_owner">
	<ng-container *ngIf="showcaseCollection; else placeholderShowcaseOwner">
	  <p>{{ this.collectionService.sanitizeCustomText(showcaseCollection.customOwnerNameText) }}</p>
	</ng-container>
	<ng-template #placeholderShowcaseOwner>
          <p>Showcase Owner</p>
        </ng-template>
    </div>
    <div class="showcase_footer_elements" id="showcase_footer_info">
      <div id="showcase_footer_contact">
        <a>Contact</a>
      </div>
    </div>
</footer>
