#showcase_footer_owner p {
  font-size: 25px;
}

#showcase_footer_tagline, #showcase_footer_tagline a {
  color: #fff;
}

/*Layout changes on screen width 700px*/
@media(max-width: 700px) {
 #showcase_footer {
   display: block;
 }

 #showcase_footer_info, #showcase_footer_auth {
   margin-left: 20%;
 }

 .showcase_footer_elements {
   flex: 1 0 100%;
 }
}
