<footer class="itemfooter" style="background:white;border:white;display:flex;gap:50px;">
    <div class="showcaseowner" style="margin-left:10px;">
	<p style="font-size:25px;">Showcase Owner</p>
    </div>
    <div class="footerinfo" style="margin-left: auto; margin-right: 10px;">
        <div class="extrainfo" style="display:flex;gap:25px;">
            <a>Category</a>
            <strong>/</strong>
            <a>Feedback</a>
            <strong>/</strong>
            <a>Contact</a>
        </div>
        <div class="tagline">
            Tuwhera showcases are an initiative of Te Mātāpuna Library and Learning Services, AUT
	    <a> Find out more</a>
        </div>
    </div>
</footer>
