<footer id="showcase_footer" style="display:flex;gap:50px;border:white;">
    <div id="showcase_footer_owner" style="margin-left:10px;">
	<p style="font-size:25px;">Showcase Owner</p>
    </div>
    <div id="showcase_footer_info" style="margin-left: auto; margin-right: 10px;">
        <div id="showcase_footer_contact" style="display:flex;gap:25px;">
            <a>Contact</a>
        </div>
        <div id="showcase_footer_tagline">
            Tuwhera showcases are an initiative of Te Mātāpuna Library and Learning Services, AUT
	    <a> Find out more</a>
        </div>
    </div>
</footer>
