<header id="showcase_header">
    <div class="container">
      <div class="d-flex flex-row justify-content-between">
	<div class="my-6" style="margin-top:60px;" id="showcase_header_text">
          <ng-container *ngIf="showcaseCollection; else placeholderShowcaseHeaderText">
            <a [routerLink]="['/collections/' + showcaseCollection.id + '/home']"><h1>{{ this.collectionService.sanitizeCustomText(showcaseCollection.customHeaderText) }}</h1></a>
	  </ng-container>
	  <ng-template #placeholderShowcaseHeaderText>
            <a href="/"><h1>Tuwhera Showcase Name</h1></a>
          </ng-template>
	</div>
        <a class="navbar-brand my-2" id="showcase_header_logo" href="https://aut.ac.nz">
          <img src="assets/showcases/images/AUT_Logo_New.jpg" [attr.alt]="'menu.header.image.logo' | translate" />
        </a>
      </div>
    </div>
  </header>
