<div class="container" id="homepage">
  <div class="collection-page"
       *ngVar="(collectionRD$ | async) as collectionRD">
    <div *ngIf="collectionRD?.hasSucceeded" @fadeInOut>
      <div *ngIf="collectionRD?.payload as collection">
	<ds-view-tracker [object]="collection"></ds-view-tracker> 
        <div class="d-flex flex-row border-bottom mb-4 pb-4">
          <header class="comcol-header mr-auto">
            <div id="introtext">
	      <!-- intro text -->
              <ds-comcol-page-content
                  [innerHTML]="sanitizeCustomIntrotext(collection.customHomePageIntroText)">
              </ds-comcol-page-content>
            </div>
            <div id="searchandbrowse" style="margin-top:20px;display:flex;gap:100px;">
              <div id="searchbar">
                <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate" [scope]="collection.uuid" class="homePageSearch"></ds-search-form>
                <!-- Browse-By Links -->
                <ds-themed-comcol-page-browse-by
                  [id]="collection.id"
                  [contentType]="collection.type">
                </ds-themed-comcol-page-browse-by>
	      </div>
            </div>
	  <div id="featureditem" style="margin-top:30px;margin-bottom:30px;display:flex;gap:400px">
	    <div id="featureditemimage">
	      <!-- Collection logo -->
              <ds-comcol-page-logo *ngIf="logoRD$"
                [logo]="(logoRD$ | async)?.payload"
                [alternateText]="'collection.logo' | translate">
              </ds-comcol-page-logo>
	    </div>
	    <div id="featureditemtext">
	      <div id="featureditemheading">
                <h2>Featured item, customisable by showcase owner</h2>
              </div>
	      <div id="featureditemparagraph">
                <p>I don't recall whether there is any special code in the theme XSL to render this reference set; I believe it just re-uses the rendering of other summaryList reference sets (ie recently added lists) but there is a little bit of custom CSS to increase the font size.</p>
              </div>
	      <div id="featureditembuttons" style="display:flex;gap:10px;">
		<button type="button" style="background-color:black;color:white;">Button</button> 
		<button type="button">Click Me!</button> 
              </div>
            </div>
          </div>
          </header>
        </div>
        <section class="comcol-page-browse-section">

          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
    <ds-error *ngIf="collectionRD?.hasFailed"
              message="{{'error.collection' | translate}}"></ds-error>
    <ds-loading *ngIf="collectionRD?.isLoading"
                       message="{{'loading.collection' | translate}}"></ds-loading>
  </div>
</div>
