#introtext {
  text-align: left;
  max-width: 500px;
  font-size: 25px;
}

/*
#homepage {
  background-image: url(https://dummyimage.com/650x450/cc00cc/fff);
}
*/

#searchandbrowse {
  margin-top:20px;
  display:flex;
  gap:100px;
}

