<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                     [object]="object"
                     [searchable]="iiifSearchEnabled"
                     [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>
  <div class="d-flex flex-row showcase_item_title">
    <h2 class="item-page-title-field mr-auto">
        <ds-metadata-values [mdValues]="object?.allMetadata(['dc.title'])"></ds-metadata-values>
      </h2>
    <div class="pl-2 space-children-mr">
      <ds-dso-page-version-button (newVersionEvent)="onCreateNewVersion()" [dso]="object"
                                  [tooltipMsgCreate]="'item.page.version.create'"
                                  [tooltipMsgHasDraft]="'item.page.version.hasDraft'"></ds-dso-page-version-button>
      <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
    </div>
  </div>
  <div class="showcase_item_authordateabstract border border-primary rounded">
      <div class="showcase_item_authordateabstract_item" id="showcase_item_author">
          <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
            [parentItem]="object"
            [itemType]="'Person'"
            [metadataFields]="['dc.contributor.author', 'dc.creator']"
            [label]="'relationships.isAuthorOf' | translate">
          </ds-metadata-representation-list>
          <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
          <div class="showcase_item_thumbnail">
            <ng-container *ngIf="!mediaViewer.image">
              <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
                <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
              </ds-metadata-field-wrapper>
            </ng-container>
            <ng-container *ngIf="mediaViewer.image">
            <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
            </ng-container>
            <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
          </div>
      </div>
    <div class="showcase_item_authordateabstract_item" id="showcase_item_abstract">
      <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
    </div>
  </div>
  <div class="showcase_item_additionalinfo border border-primary rounded">
    <div class="showcase_item_additionalinfo_item">
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.type']"
        [label]="'item.page.dc.type' | translate ">
      </ds-generic-item-page-field>
      <div>
        <div id="showcase_item_keywords">
          <ds-generic-item-page-field [item]="object"
            [fields]="['aut.subject.showcase']"
            [label]="'Showcase specific keywords' | translate">
          </ds-generic-item-page-field>
        </div>
      </div>
    </div>
    <div class="showcase_item_additionalinfo_item">
      <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataFields]="['dc.contributor.advisor']"
	      [label]="'item.page.advisor' | translate">
      </ds-metadata-representation-list>
      <ds-generic-item-page-field [item]="object"
        [fields]="['aut.relation.journal']"
        [label]="'item.page.journal-title' | translate">
      </ds-generic-item-page-field>
    </div>
    <div class="showcase_item_additionalinfo_item">
      <ds-generic-item-page-field [item]="object"
        [fields]="['thesis.degree.name']"
        [label]="'item.page.thesis.name' | translate">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.publisher']"
        [label]="'item.page.publisher' | translate">
      </ds-generic-item-page-field>
      <ds-metadata-field-wrapper [label]="'item.page.doi' | translate">
        <a class="dont-break-out" *ngFor="let mdValue of object?.allMetadata(['dc.identifier.doi']); let last=last;" [href]=" 'https://dx.doi.org/' + mdValue.value">
{{ mdValue.value }}<span *ngIf="!last" [innerHTML]="'<br/>'"></span>
        </a>
      </ds-metadata-field-wrapper>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.identifier.citation']"
        [label]="'item.page.citation' | translate">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.rights']"
        [label]="'item.page.dc.rights' | translate">
      </ds-generic-item-page-field>
    </div>
  </div>

