// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 100px;
  --ds-header-logo-height-xs: 100px;
  //--ds-header-icon-color: #{$link-color};
  //--ds-header-icon-color-hover: #{darken($link-color, 15%)};
  --ds-thumbnail-max-width: 100%;
}
