<a *ngIf="(linkType != linkTypes.None) && (useCollectionHomePage === true) && (useCollectionHomePageUUID === object.uuid); else noHomeLink" [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'" rel="noopener noreferrer" [routerLink]="['/collections/' + object.id + '/home']" class="lead">
    {{object.name}}
</a>
<ng-template #noHomeLink>
<a *ngIf="(linkType != linkTypes.None)" [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'" rel="noopener noreferrer" [routerLink]="['/collections/' + object.id]" class="lead">
    {{object.name}}
</a>
</ng-template>
<span *ngIf="linkType == linkTypes.None" class="lead">
    {{object.name}}
</span>
<div *ngIf="object.shortDescription" class="text-muted abstract-text">
    {{object.shortDescription}}
</div>
